<!DOCTYPE html>
<html>
<head>
	<title>changeApp</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/changeapp/static/css/style.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_sfr8ivl2khme7b9.css">
	<script type="text/javascript" src="/changeapp/static/js/jquery-1.11.3.js"></script>
</head>
<body>
<!-- 头部 -->
<div class="sign-login-contianer">
	<div class="login-box">
		<div class="login-header">
			<a href="/changeapp/view/setting.html">返回</a>
			<p>我的收藏</p>
		</div>
	</div>
	<!-- 收货地址-->
	<div class="collect-contianer">
		<div class="collect-box clearfix">
			<div class="collect-img">
				<img src="/changeapp/static/images/change.jpg">
			</div>
			<div class="collect-info">
				<div class="collect-name">
					<p>695414芭比手工牛咋饼奶盐味148g</p>
				</div>
				<div class="collect-desc">
					<label>产地:<span>泰国</span></label>
					<label><a href="">删除</a></label>
				</div>
				<div class="collect-pri">
					<label><span>￥120</span>元</label>
					<label><a href=""><i class="iconfont icon-gouwuche2"></i></a></label>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/changeapp/static/js/global.js"></script>
</body>
</html>