<!DOCTYPE html>
<html>
<head>
	<title>changeApp</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_0db6f2trv5z5mi.css">
	<script type="text/javascript" src="static/js/jquery-1.11.3.js"></script>
</head>
<body>
<!-- 头部搜索	 -->
<div class="find-header-contianer">
	<div class="find-header-box clearfix">
		<div class="saoyisao">
			<i class="iconfont icon-saoyisao"></i>
		</div>
		<div class="find">
			<div class="search-window">发现</div>
		</div>
		<div class="xiaoxi">
			<i class="iconfont icon-follow" style="font-size: 21px;float: left;"></i>
			<i class="iconfont icon-xiaoxi" style="font-size: 18px;"></i>
		</div>
	</div>
</div>
<div class="find-content-contianer">
	<div class="find-content-title clearfix">
		<div class="zhibo">
			<i class="iconfont icon-zhibo"></i>
			<span>直播</span>
		</div>
		<div class="shequ">
			<i class="iconfont icon-community"></i>
			<span>社区</span>
		</div>
		<div class="haodongxi">
			<i class="iconfont icon-zhuanshi"></i>
			<span>好东西</span>
		</div>
		<div class="paizhao">
			<i class="iconfont icon-paizhao"></i>
			<span>拍照购</span>
		</div>
	</div>
	<div class="find-content-select">
		<div class="select-content">
			<ul class="clearfix">
				<li>送女神</li>
				<li>大礼包</li>
				<li>超好吃</li>
				<li>很便宜</li>
				<i class="iconfont icon-xiangxia1"></i>
				<div class="select-more">
					<li>亲子园</li>
					<li>品牌街</li>
					<li>理财师</li>
					<li>送朋友</li>
					<li>文艺咖</li>
					<li>生活家</li>
					<li>视频购</li>
				</div>
			</ul>

		</div>
	</div>
	<div class="find-content-info">
		<h2>你的星空正在开发中,敬请期待中...</h2>
		<img src="static/images/find.jpg">
	</div>
</div>

<!-- 底部 -->
<div class="footer">
	<div class="footer-contianer clearfix">
		<div>
			<a href="index.php">
				<i class="iconfont icon-shouye-shouye"></i>
				<span>首页</span>
			</a>
		</div>
		<div>
			<a href="sort.php">
				<i class="iconfont icon-fenlei"></i>
				<span>分类</span>	
			</a>
		</div>
		<div>
			<a href="find.php">
				<i class="iconfont icon-faxian1"></i>
				<span>发现</span>
			</a>
		</div>
		<div>
			<a href="cart.php">
				<i class="iconfont icon-gouwuche"></i>
				<span>购物车</span>
			</a>	
		</div>
		<div>
			<a href="personal.php">
				<i class="iconfont icon-my"></i>
				<span>我的</span>			
			</a>
		</div>
	</div>
</div>
<script type="text/javascript" src="static/js/dialog.js"></script>
<script type="text/javascript" src="static/js/global.js"></script>
</body>
</html>