<!DOCTYPE html>
<html>
<head>
  <title>changeApp</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/changeapp/static/css/style.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_u3d9oy3eyy5e9udi.css">
  <script type="text/javascript" src="/changeapp/static/js/jquery-1.11.3.js"></script> 
</head>
<body>
<!-- 头部 -->
<div class="sign-login-contianer">
  <div class="login-box">
    <div class="login-header clearfix">
      <a href="/changeapp/personal.php">返回</a>
      <p>个人设置</p>
      <a href="search.html" style="position: absolute;top:14px;right:10px;border: none;padding: 0px;"><i class="iconfont icon-sousuo-sousuo"></i></a>
    </div>
  </div>
  <div class="setting-contianer">
    <div class="settting-box">
      <div class="header-setting">
        <img src="/changeapp/static/images/green.my.jpg">
      </div>
      <div class="order-setting">
        <ul>
          <li class="clearfix">
            <i class="iconfont icon-dingdanchaxun" style="color:#fb3505;"></i>
            <a href="">订单查询</a>
            <i class="iconfont icon-xiangyou"></i>
          </li>
          <li class="clearfix">
            <i class="iconfont icon-iconfont204" style="color:#00BCD4;"></i>
            <a href="">代金劵</a>
            <i class="iconfont icon-xiangyou"></i>
          </li>
        </ul>
      </div>
      <div class="person-setting">
        <ul>
          <li class="clearfix">
            <i class="iconfont icon-shoucang" style="color:#FFC107;"></i>
            <a href="/changeapp/setting.php?act=collect">我的收藏</a>
            <i class="iconfont icon-xiangyou"></i>
          </li>
          <li>
            <i class="iconfont icon-gerenxinxi" style="color:#1ab331;"></i>
            <a href="/changeapp/setting.php?act=userinfo">个人信息</a>
            <i class="iconfont icon-xiangyou"></i>
          </li>
          <li>
            <i class="iconfont icon-shouhuodizhisvg" style="color:#6335b3;"></i>
            <a href="/changeapp/setting.php?act=address">收货地址</a>
            <i class="iconfont icon-xiangyou"></i>
          </li>
          <li>
            <i class="iconfont icon-mima" style="color: blue;"></i>
            <a href="pass.html">修改密码</a>
            <i class="iconfont icon-xiangyou"></i>
          </li>
        </ul>
      </div>
      <div class="setting-loginout">
        <a href="/changeapp/setting.php?act=loginout">退出</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/changeapp/static/js/dialog.js"></script> 
<script type="text/javascript" src="/changeapp/static/js/global.js"></script>
</body>
</html>